*{
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  margin: 0;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: white;
  }
  
  
  h1 {
  font-size: 48px;
  color: rgb(255, 255, 255);
  background-color: rgb(0,0,0);
  margin: 20px 0;
  padding: 0 5px 0 50px;
  }
  
  h2{
  font-size: 50px;
  color: rgb(137, 207, 240);
  }
  
  h3{
  font-size: 50px;
  }
  
  h4{
  font-size: 30px;
  color:rgb(255,255,255);
  }
  
  p{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  }
  
  .header {
    /* Understanding: we have given the header a flexbox which allows me to place all the text on the same line. Space-between lets me stick my name to the left and the nav to the right */
    display: flex;
    justify-content: space-between;
    float: right;
    align-items: center;
    padding: 0 15px 0 0 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

/******************************************
/* Work Card
/*******************************************/

  .card {
    margin: 20px;
  }
  
   /******************************************
/* LINK/BUTTON STYLES
/*******************************************/

/* Styling of buttons with box shadow on a dark background (Within work cards) */
#work button {
    background: none;
    border: 1px solid;
    font: inherit;
    line-height: 1.5;
    margin: 5px;
    padding: 5px;
    color: white;
    width: 100px;
  }
  
  #work .fill:hover,
  #work .fill:focus {
    box-shadow: inset 6.5em 0 0 0 blue;
    border: 1px solid blue;
  }

/******************************************
/*Skills Section STYLES
/*******************************************/

  .list-group-item{
    background-color: blue;
    color: white;
  }